out
dist
node_modules
.vscode-test/
*.vsix
yarn-error.log
jsdoc.*
.DS_Store
resources/*
!resources/gutter_icon_bm.svg
!resources/icon.jpg
!resources/readme
!resources/changelog
!resources/tasks.json
.vscode/bookmark_x.json
documents
pnpm-lock.yaml
package.json
resources/changelog/changelog.html
yarn.lock
package-lock.json