.vscode/**
.vscode-test/**
out/test/**

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

pkgAssets/**
package.src.json
rollup.config.mjs
*.zip
pnpm-lock.yaml